body {
    font-family: Arial, Helvetica, sans-serif;
    
}


#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}


header {
    font-size: 1rem;
    font-weight: 300;
    grid-area: header;
    justify-content: space-between;
}

main{
   
    padding-top: 1rem;
    grid-area: main;
  
}






header, footer {
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    color: black;
    
}

header nav div{
    list-style: none;
    
    align-self: center;
    
}

header nav div li{
    list-style: none;
    padding: 1rem;
    text-align: center;
    display: inline;
    text-decoration: navy;
}

header nav li a {
    text-decoration: none;   
    color: #000;
}

footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: #252525;
}

footer div{
    list-style: none;
    align-self: center;
}

footer div li{
    list-style: none;
    padding: 1rem;
    text-align: center;
    display: inline;
}

footer li a {
    text-decoration: none;   
    
    color: #ffffff;
}

footer h4{
    font-weight: 600;
    justify-self: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: x-large;
}



.white-section{
    text-align: center;
    padding: 5rem;
}

.white-section h2{
    font-size: 3rem;
}


.grey-section{
    text-align: center;
    background-color: #A9A9AC;
    padding: 1rem;
    border: 3rem;
    padding-bottom: 3rem;   
}

.grey-section ul{
    display: flex;
    justify-content: center;
    justify-self: center;

}

.grey-section ul li{
    display: flex;
    list-style: none;
    justify-self: center;
}

.grey-section ul li article input{
    width: 300px;
    height: 3rem;
}

.grey-section ul li {
    justify-content: center;
    justify-self: auto;
}
.grey-section li {
    border: 1rem;
    padding: 1rem;
    list-style: none;
}
.grey-section a {
    border: 1rem;
    padding: 1rem;
}
.video-section{
    color:#000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;  
}
.yellow-btn{
    background-color: #e6bd43;
    color: black;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    justify-self: center;  
}
.yellow-btn-video{
    background-color: #e6bd43;
    color: black;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    justify-self: center;  
    position: relative;
    cursor: pointer;
    border: none;
}
.yellow-btn-video:hover{
    background-color: #000 !important;
    color: #e6bd43 !important ;
}

.yellow-btn:hover{
    background-color: #000;
    color: #e6bd43;
}

.yellow-section-img{
    background-color: #e6bd43;
    display: flex;
    padding: 3rem;
    border: 3rem;
    
}

.yellow-section-img li{
    
    list-style: none;
}

.yellow-section-img ul{
    padding-top: 1rem;
}

/* hentet fra https://stackoverflow.com/questions/29504209/how-to-display-text-for-a-section-with-a-looping-video-background */
/* hentet fra https://www.w3schools.com/howto/howto_css_image_text.asp */
/* hentet knapp fra fra https://www.w3schools.com/howto/howto_css_alert_buttons.asp */
#quote {
    background-repeat: repeat;
    overflow: hidden;
    position: relative;
    text-align: center;
    max-height: 540px;
    
}
.overlayText {
    color:#000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}   

/* This is just some CSS styling for the video to make it fill 100% */
.videoContainer {
    height:540px;
    width:100%;
    overflow: hidden;
    display: block;
}   
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    opacity: 50%;
}
    
h3{
    text-align: center;
}

.section-services {
    
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.section-services figure{
    justify-self: center;
    justify-content: center;
    text-align: center;
}

.section-services figcaption{
    text-align: center;  
}

.section-services figcaption p{
    text-align: center;
    font-weight: bold;
}


/* hentet fra https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #252525; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #252525; /* Add a dark-grey background on hover */
  }